/* Jumbotron Background Image*/
jumbotron {
  height: 750px;
  max-width: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

}


/* Paragraph */
  p {
    color: rgb(141, 137, 137);
    font-size: 1;
    margin-top: 0;
  }


.panel-primary{border-color:#04a43c}
.panel-primary>.panel-heading{color:#fff;
  background-color:#04a43c;border-color: #04a43c}

/* Footer */
footer {
  background-color: #b8b7b7;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #04a43c;
  color: white;
  min-height: 50px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;

} */
